<head>
    <title>
        Adapted Godot Engine
    </title>
    <link rel="stylesheet" type="text/css" href="retro.css" />
</head>
<h1 id="adapted-engine-compilation">Adapted Engine Compilation</h1>
<hr>
<h3><a href="main.html">Return to homepage</a></h3>
<a href="adaptedGodotEngineLight.html">Switch to Light Mode</a>
<h2 id="understanding-godots-build">Understanding Godot&#39;s build</h2>
<p>The adapted engine needs to compile using Cmake, thus it implements files called <strong>CMakeLists.txt</strong> in order to work properly.
Such files are read when the directory in which they are is added to the project using the <strong>add_subdirectory()</strong> method.</p>
<p>Originally, Godot uses <strong>SCons</strong>, which is a compiler written in <strong>Pyhthon</strong>. Essentially it consists of a file name <strong>SConstruct</strong> which could be compared to the CMakeLists.txt present at the root of our project, and of many <strong>SCsub</strong> files acting as the CMakeLists.txt present in our directories. They are added using <strong>SConscript</strong> method.</p>
<p>To make the engine compile using Cmake, the idea is to understand how Godot&#39;s compilation works. Here is a quick introduction :</p>
<ul>
<li>SCons being written in Python, it can easily access others scripts that perform actions such as plateform detection or file generation.
System detection is performed early (because it is needed for Environment creation).</li>
<li>Its main class is <strong>Environment</strong>, this is the class responsible for holding every information about the build. A first Environment object is being built at the root of the project called <em>env_base</em>. To this the main options for the build are added and then a new Environment variable called <strong>env</strong> is being created, which will be the one responsible for the main build</li>
<li>In the SCsub files, the env is being cloned into a new env variable in which can be added specific compile definitions, include paths and link flags before the source code is finally added and compiled.</li>
<li>In the SCsub files, the Environment variables are used to build libraries later used by the main project. Often, dependencies are added so that when the code added as dependency is updated, the library is rebuilt.</li>
</ul>
<pre><code class="language-python"># There are part of the SConstruct code so you can see what have been described above

# System detection
if detect.is_active():
        active_platforms.append(detect.get_name())
        active_platform_ids.append(x)

# Creation of the base Environment variable
env_base = Environment(tools=custom_tools)

# Exemple of adding a compiler definition to the build
if env_base[&quot;use_precise_math_checks&quot;]:
    env_base.Append(CPPDEFINES=[&quot;PRECISE_MATH_CHECKS&quot;])

# Creation of the env variable, responsible for the main build
if &quot;create&quot; in dir(detect):
    env = detect.create(env_base)
else:
    env = env_base.Clone()
</code></pre>
<pre><code class="language-python"># This is some example code from core/SCsub file

# Cloning the main Environment
env_thirdparty = env.Clone()
env_thirdparty.disable_warnings()

# Adding source files
env_thirdparty.add_source_files(thirdparty_obj, thirdparty_misc_sources)

# Adding include path
env_thirdparty.Prepend(CPPPATH=[thirdparty_zstd_dir, thirdparty_zstd_dir + &quot;common&quot;])

# Adding compile definition
env_thirdparty.Append(CPPDEFINES=[&quot;ZSTD_STATIC_LINKING_ONLY&quot;])

# Building the new Environment as a library
lib = env.add_library(&quot;core&quot;, env.core_sources)
env.Prepend(LIBS=[lib])

# Adding dependencies to the library created
env.Depends(lib, thirdparty_obj)
</code></pre>
<p>See <a href="https://docs.godotengine.org/en/stable/development/compiling/introduction_to_the_buildsystem.html">Godot&#39;s documentation about the build system</a>
and <a href="https://www.scons.org/">SCons official website</a></p>
<p>Or even <a href="https://docs.godotengine.org/en/stable/development/compiling/compiling_for_x11.html">Godot&#39;s documentation on specificly building for Linux</a></p>
<hr>
<hr>
<h2 id="compilation-using-cmake">Compilation using Cmake</h2>
<p>The root file for the adapted-engine project is the <strong>CMakeLists.txt</strong> found in the <strong>adapted-engine</strong> folder.
The project is made to be independent : you could just paste the folder into any Cmake project, include the folder and the path, link the created library, and start using it. Here it is added inside the <strong>API</strong> project.</p>
<h3 id="project-organization-">Project organization :</h3>
<table>
<thead>
<tr>
<th align="center">Folder</th>
<th align="left">Content and purpose</th>
</tr>
</thead>
<tbody><tr>
<td align="center">API</td>
<td align="left">Where the global API for the rendering engine is located, this is the bridge between Godot and Scenegate</td>
</tr>
<tr>
<td align="center">adapted-engine</td>
<td align="left">The root of the adapted engine project, where you can find its api and main files</td>
</tr>
<tr>
<td align="center">src</td>
<td align="left">The original folder containing Godot, from here everything consists of copying Godot&#39;s behavior</td>
</tr>
<tr>
<td align="center">core/ drivers / main / ...</td>
<td align="left">These are the libraries we want to add to our build, they have their own CMakeLists.txt specifying their behavior</td>
</tr>
<tr>
<td align="center">other folders under libraries folders</td>
<td align="left">Often a library will have subdirectories where there is just a lot of source files to be compiled in which cases the CMakeLists.txt are quite straight forward</td>
</tr>
</tbody></table>
<h3 id="building--linking">Building &amp; Linking</h3>
<hr>
<p>We build the whole engine library as a <strong>STATIC</strong> library, meaning it is part of the project. The subdirectories, which are built as libraries when using SCons, are now compiled as <strong>OBJECT</strong>s libraries. Building as object allows us to attach them to the engine and then link only once when linking the main static library.</p>
<h4 id="compile-definitions--link-flags">Compile definitions &amp; Link Flags</h4>
<p>Almost everything about the behavior of the compilator is copied from Godot&#39;s build environment. See wether inside the python code (SConstruct &amp; SCsub) or the summary of the build inside the hidden file <strong>.scons_env.json</strong> that is created when compiling Godot using SCons. A copy of this file is located in <strong>adapted-engine/infos</strong>.</p>
<p>When building Godot the normal way, you can specify options in the command line, but you could also just have a file named <strong>custom.py</strong> inside your Godot folder. SCons will detect it and read all the options specified inside. There is a copy of a custom.py file used for a Godot compilation in the infos folder too.</p>
<p>On the Scenegate side, you can find almost everything about the compilation inside of the indra/cmake directory. Especially the file <strong>00-Common.cmake</strong> is responsible for managing the compile options, definitions and flags to use when compiling Scenegate.</p>
<h3 id="file-generation">File generation</h3>
<hr>
<p>When compiling with SCons, there are steps where some files are generated. See inside drivers library, there are a lot of generated files for gles.
All the generated files are called filename.<strong>gen</strong>.extension.</p>
<pre><code class="language-python"># From the SConstruct file
BUILDERS={
    &quot;GLES3_GLSL&quot;: env.Builder(
        action=run_in_subprocess(gles_builders.build_gles3_headers), suffix=&quot;glsl.gen.h&quot;, src_suffix=&quot;.glsl&quot;
    )
}
</code></pre>
<p>The file generation is not yet implemented in the adapted engine, the way it works now is pretty dirty : the *.gen.* files has been generated using a normal compilation of Godot and then copied to the project.
There is a way to call python scripts from cmake, we just didn&#39;t find time to code this (the dirty solution works fine as we stay on relatively similar computers).</p>
<p>See this <a href="https://stackoverflow.com/questions/49053544/how-do-i-run-a-python-script-every-time-in-a-cmake-build">discussion about python call in cmake</a> and the <a href="https://cmake.org/cmake/help/latest/command/add_custom_command.html">add_custom_command method</a></p>
<p>Or <a href="https://cmake.org/cmake/help/latest/guide/tutorial/Selecting%20Static%20or%20Shared%20Libraries.html">here in cmake official documentation</a> where they achieve something similar using the same command. (the topic isn&#39;t about that but you&#39;ll se that they generate a table at compile time, and cmake&#39;s documentation is often pretty clear)</p>
<h3 id="architecture">Architecture</h3>
<hr>
<h4 id="-the-main-cmakeliststxt"><strong># The main CMakeLists.txt</strong></h4>
<p>The CMakeLists.txt you can find at the root of the adapted-engine, its role is to create the project, the static library (called <strong>engine</strong>), to set up the globally used options and flags, and at the end to link everything together.</p>
<h4 id="-the-cmakeliststxt-inside-src-directory"><strong># The CMakeLists.txt inside src directory</strong></h4>
<p>This is the list added by main, it sets a variable specifying how we are going to link Godot libraries (as explained above we chose OBJECT) then sets 2 variables responsible for holding information about how to build the thirdparty library&#39;s source files.
Finally it adds every Godot library needed, in a specific order which is important.</p>
<p>The last library added is OS specific. We added platform/x11 without checking anything because we only work with linux but left some clues on how to do that. Trying to make the engine work on any platform would require to check the option added in SCons and do the same in our CMakeLists.txt files.</p>
<h4 id="-the-cmakeliststxt-that-handle-godot-libraries"><strong># The CMakeLists.txt that handle Godot libraries</strong></h4>
<p>These are the lists you find in core, drivers, modules ... directories. They usually start with a call to <strong>add_library()</strong> which creates a new library where we can specify a link mode and some source files. The <strong>target_include_directories()</strong> then allows our source files to see the specified paths when compiling (allows #include &quot;path/file&quot; directives to work properly).</p>
<h4 id="-the-cmakeliststxt-inside-godot-libraries-subdirectories"><strong># The CMakeLists.txt inside Godot libraries&#39; subdirectories</strong></h4>
<p>These are often just source files added to the library they are in. Adding source files to an already existing library is done using <strong>target_sources()</strong> method, targeting a library we just created above.</p>
<hr>
<hr>
<h2 id="scenegates-requirements">Scenegate&#39;s requirements</h2>
<p>Scenegate uses a library called freetype, a free C library used to render fonts.
See <a href="https://freetype.org/">the official website</a> for more information.
But Godot uses it too, and has its own internal freetype library.
To avoid any problem, let Scenegate import freetype to the project and comment parts where we import it in the adapted Godot engine.
Note 3 things :</p>
<ul>
<li>The commented parts are in <strong>src/scene/CMakeLists.txt</strong> and <strong>src/modules/CMakeLists.txt</strong>. If you were to use the library in another project, you could have to uncomment those to make Godot able to use freetype</li>
<li>There is also some platform dependent code there, so be careful if you plan on using the adapted-engine&#39;s freetype library on another system</li>
<li>There probably is a better way to do this but at least it works</li>
</ul>
<p>For now, there is no problem with other libraries.</p>
<hr>
<hr>
<h2 id="changes-done-to-godot">Changes done to Godot</h2>
<h3 id="godot-main-executable">Godot main executable</h3>
<hr>
<p>Normally, Godot compiles whichever main file corresponds to the platform, the main files are named <strong>godot_<em>platform</em>.cpp</strong> (or godot_<em>platform</em>.mm in the case of apple devices). Those files are the one from which the executable is generated in Godot, thus where you can find the <strong>main(argc, argv)</strong> function.
The class AdaptedEngineApi inside the adapted engine library does the same as godot_x11.cpp&#39;s main function, but as an accessible static class.</p>
<h3 id="godot-main-class">Godot &#39;Main&#39; class</h3>
<hr>
<p>Godot&#39;s main.cpp and main.h files aren&#39;t compiled in the adapted-engine, they have been copied to adapted_engine_main.cpp and adapted_engine_main.hpp so we can have our own Main class if we want to make some changes to it.
We especially changed the <strong>Main::start()</strong> function so that, instead of trying to find a Godot project or to behave differently depending on command line parameters, we directly point to the Mainloop class we want. For now we just run the test_render mainloop to see if we&#39;re able to render using the adapted engine.</p>
<hr>
<hr>
<h2 id="integration-problems-and-opengl">Integration problems and OpenGL</h2>
<h3 id="the-actual-problem">The actual problem</h3>
<hr>
<p>For now, if you try to have both Scenegate and Godot rendering at the same time, the application will crash (and the computer could crash too).
You can see in the <strong>llappviewer.cpp</strong>, inside of frame() function, the parts of the code that have been commented and an early return that have been added.
This way Scenegate only creates the window but does not run any rendering call, and the Godot window can open and run the rendering test properly.</p>
<p>Inside of Godot, the low-level rendering calls are mostly inside of <strong>rasterizer_gles3.cpp</strong> &amp; <strong>rasterizer_scene_gles3.cpp</strong>.
In order to create the window and handle things like input events, Godot uses <a href="https://en.wikipedia.org/wiki/GLX#/">GLX</a>; You can find window and OpenGL context creation in context_gl_x11.cpp.
Similar stuff is handled by <a href="https://wiki.libsdl.org/FrontPage">SDL</a> in Scenegate&#39;s side, and most of the calls can be found in <strong>llviewerdisplay.cpp</strong> &amp; <strong>pipeline.cpp</strong>.
As far as I investigated, Godot was configured to run <strong>GLES3</strong> (which means using OpenGL 3) : </p>
<p>From Godot&#39;s official doc about GLES :</p>
<blockquote>
<p>&quot;GLES2&quot; and &quot;GLES3&quot; are the names used in Godot for the two OpenGL-based rendering backends. In terms of graphics APIs, the GLES2 backend maps to OpenGL 2.1 on desktop, OpenGL ES 2.0 on mobile and WebGL 1.0 on the web. The GLES3 backend maps to OpenGL 3.3 on desktop, OpenGL ES 3.0 on mobile and WebGL 2.0 on the web.</p>
</blockquote>
<p>And on its side, Scenegate appears to be using <strong>SDL</strong> (and not SDL2).
The understanding of these 2 libraries will be important if we want to make the application work as intended.</p>
<p>It appears that it&#39;s the cohabitation of both GLX and SDL calls that makes the application crash.
It may be something else, but to investigate you&#39;ll need a deep understanding of OpenGL.</p>
<h3 id="future-of-the-integration">Future of the integration</h3>
<hr>
<p>Being able to have the 2 sides of the application running and rendering without crashing is only the first part of the work. We will also need to redirect the ouput of Godot&#39;s rendering to Scenegate&#39;s window. For that we thought about using texture rendering, which means instead of rendering directly to the screen we will render to an OpenGL texture, allowing us to maybe read this texture later in the main thread of Scenegate.
Rendering to a texture is a commonly used technique as it is often used for post processing, so it is well documented.</p>
<p>The thing is that we still need Scenegate to be able to render, mainly because of the user interface, so we can&#39;t get rid of SDL.</p>
<p>Here are some usefull links :</p>
<ul>
<li><a href="http://www.opengl-tutorial.org/fr/intermediate-tutorials/tutorial-14-render-to-texture/">A tutorial on how to do exactly what we have in mind</a>, unfortunately it is only in french but ther&#39;s still the code and you may find something similar</li>
<li><a href="https://www.khronos.org/opengl/wiki/Programming_OpenGL_in_Linux:_GLX_and_Xlib">Documentation about GLX library</a> which will be usefull if you want to understand how Godot manages to render stuff</li>
<li><a href="https://riptutorial.com/opengl/example/28872/using-pbos">A tutorial on pixel buffer objects</a> describing how to use <a href="https://www.khronos.org/opengl/wiki/Pixel_Buffer_Object">pixel buffer objects</a> which could be usefull for the future</li>
</ul>
