
<head>
    <link rel="stylesheet" type="text/css" href="doc.css" />
</head>

<body>
    
    <h1>GodotAPI</h1>

    <h3><a href="main.html">Return to homepage</a></h3>
    <h2>Description</h2>
    <p>This class is used to get information about object updates from SceneGate and apply to the Godot objects</p>

    <h2>Properties</h2>
    <table class="properties">
        <tbody>
            <tr class="row">
                <td><p class="type">std::string</p></td>
                <td><p class="name"><a  href="#class-godotAPI-property-PATH">PATH</a></p></td>
                <td><p class="init-value">the path to access the Meshes folder filled by SG</p></td>
            </tr>

            <tr class="row">
                <td><p class="type"><a  href="class_godotWorld.html#class-godotAPI-property-GodotWorld">GodotWorld</a></p></td>
                <td><p class="name"><a  href="#class-godotAPI-property-world">world</a></p></td>
                <td><p class="init-value">null</p></td>
            </tr>

            
        </tbody>
    </table>


    <h2>Methods</h2>
    <table class="Methods">
        <tbody>
            <tr class="row">
                <td><p class="accessibility">private</p></td>
                <td><p class="type">std::list&lt;<a href="class_objectToUpdate.html">ObjectToUpdate</a>&gt;</p></td>
                <td><p ><a href="#class-godotAPI-method-createFromtext">createFromtext</a>()</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-godotAPI-method-meshThread">meshThread</a>()</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-godotAPI-method-camThread">camThread</a>()</p></td>
            </tr>
        </tbody>
    </table>

    
    
    <h2>Property Descriptions</h2>
    <ul class="simple" id="class-godotAPI-property-PATH">
    <li><p class="name">std::string</a> <strong>PATH</strong></p></li>
    </ul>
    <p><span class="test-only">Used for tests only !! </span>The path (can be absolute or relative) to access the files written by SG to send data. For now it is under <span class="path">build-linux-x86_64/newview/packaged/</span>.</p>
        
    <hr class="separator" />

    <ul class="simple" id="class-godotAPI-property-world">
        <li><p class="name"><a href="class_godotWorld.html">GodotWorld </a><strong>world</strong></p></li>
    </ul>
    <p>The world it the highest instance of the API, that contains and manage all the different objects</p>
        
     
    <h2>Method Descriptions</h2>

    <ul class="simple" id="class-godotAPI-method-createFromtext">
    <li><p>std::list&lt;<a href="class_objectToUpdate.html">ObjectToUpdate</a>&gt; createFromtext()</p></li>
    </ul>
    <p><span class="test-only">Used for test only ! </span>Recreate ObjectToUpdate instances from the text files written by SceneGate.</p>
    
     <hr class="separator" />

    <ul class="simple" id="class-godotAPI-method-meshThread">
    <li><p>void meshThread()</p></li>
    </ul>
    <p>Requests updates to SceneGate (<span class="code">renderAPI::getUpdateList</span>) and gives orders to the World depending on the update type of the objects.</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-godotAPI-method-camThread">
    <li><p>void camThread()</p></li>
    </ul>
    <p>Requests camera updates to SceneGate through liveCamChange. As of now reads the data written in the camstate.txt. Then ask the world to update it.</p>
    


</body>