
<head>
    <link rel="stylesheet" type="text/css" href="doc.css" />
    

</head>

<body>
    
    <h1>renderAPI</h1>

    <h3><a href="main.html">Return to homepage</a></h3>
    <h2>Description</h2>
    <p>This is the main class of the API SceneGate-side, the one that the mainloop and the external rendering engine know and calls every frame. Use it as a global singleton.</p>

    <h2>Properties</h2>
    <table class="properties">
        <tbody>
            <tr class="row">
                <td><p class="type"><a  href="#class-renderAPI-typedef-vobj_set_t">vobj_set_t</a></p></td>
                <td><p class="name"><a  href="#class-renderAPI-property-objCrea">objCrea</a></p></td>
                <td><p class="init-value">empty</p></td>
            </tr>

            <tr class="row">
                <td><p class="type"><a  href="#class-renderAPI-typedef-vobj_set_t">vobj_set_t</a></p></td>
                <td><p class="name"><a  href="#class-renderAPI-property-objUpdate">objUpdate</a></p></td>
                <td><p class="init-value">empty</p></td>
            </tr>

            <tr class="row">
                <td><p><a class="type" href="#class-renderAPI-typedef-vobj_set_t">vobj_set_t</a></p></td>
                <td><p class="name"><a  href="#class-renderAPI-property-objUpdateTexture">objUpdateTexture</a></p></td>
                <td><p class="init-value">empty</p></td>
            </tr>

            <tr class="row">
                <td><p><a class="type" href="#class-renderAPI-typedef-vobj_set_t">vobj_set_t</a></p></td>
                <td><p class="name"><a  href="#class-renderAPI-property-objKill">objKill</a></p></td>
                <td><p class="init-value">empty</p></td>
            </tr>

            <tr class="row">
                <td><p><span class="type">bool</p></td>
                <td><p class="name"><a  href="#class-renderAPI-property-tokenUpdateListAvailable">tokenUpdateListAvailable</a></p></td>
                <td><p class="init-value">true</p></td>
            </tr>
        </tbody>
    </table>


    <h2>Methods</h2>
    <table class="Methods">
        <tbody>
            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a  href="#class-renderAPI-method-updateUpdateList">updateUpdateList</a>()</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a  href="#class-renderAPI-method-getUpdateList">getUpdateList</a>()</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-renderAPI-method-convertListToText">convertListToText</a>(std::list&lt;<a href="class_objectToUpdate.html" target="_blank">ObjectToUpdate</a>&gt; objectsToUpdate)</p></td>
            </tr>

        </tbody>
    </table>

    <h2>Structures</h2>
    <div id="class-renderAPI-structure-Update">
        <h3>Update {</h3>
        <ul class="simple">
            <li><p><strong>LLViewerObject * object</strong> --- Pointeur to the object to update in the Scenegate code</p></li>
            <li><p><strong><a href="class_objectToUpdate.html" target="_blank">ObjectToUpdate</a>::<a href="class_objectToUpdate.html#class-objectToUpdate-enum-updateType" target="_blank">UpdateType</a> updateType</strong> --- Type of update to apply</p></li>
        </ul>
        <h3>}</h3>
    </div>

    <h2>Typedef</h2>
    <ul class="simple" id="class-renderAPI-typedef-vobj_set_t">
    <li><p>std::set&lt;LLPointer&lt;LLViewerObject&gt; &gt; vobj_set_t</p></li>
    </ul>
    
    <h2>Property Descriptions</h2>
    <ul class="simple" id="class-renderAPI-property-objCrea">
    <li><p><a class="reference internal" href="#class-renderAPI-typedef-vobj_set_t">vobj_set_t</a> <strong>	
        objCrea</strong></p></li>
    </ul>
    <p>Used to save objects that have been created between two calls of the external renderer. Not used atm as long as an object created also goes inside the <a class="reference internal" href="#class-renderAPI-property-objUpdate">objUpdate</a> list</p>
    
    <hr class="separator" />
    
    <ul class="simple" id="class-renderAPI-property-objUpdate">
    <li><p><a class="reference internal" href="#class-renderAPI-typedef-vobj_set_t">vobj_set_t</a> <strong>	
        objUpdate</strong></p></li>
    </ul>
    <p>Used to save objects whose shape or position has been changed between two calls of the external renderer. Triggered by <span class="code">LLDrawable::e_drawable_flags::REBUILD_ALL</span>.</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-renderAPI-property-objUpdateTexture">
    <li><p><a class="reference internal" href="#class-renderAPI-typedef-vobj_set_t">vobj_set_t</a> <strong>	
        objUpdateTexture</strong></p></li>
    </ul>
    <p>Used to save objects whose material / texture has been changed between two call of the external renderer. Triggered by <span class="code">LLDrawable::e_drawable_flags::REBUILD_MATERIAL</span>. <b>Only used in tests not yet implemented.</b></p>
    
    <hr class="separator" />

    <ul class="simple" id="class-renderAPI-property-objUpdateTexture">
    <li><p><a class="reference internal" href="#class-renderAPI-typedef-vobj_set_t">vobj_set_t</a> <strong>	
        objKill</strong></p></li>
    </ul>
    <p>Used to save objects which have been killed between two calls of the external renderer. Triggered by <span class="code">LLViewerObject::isDead()</span>.</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-renderAPI-property-tokenUpdateListAvailable">
    <li><p>bool tokenUpdateListAvailable</p></li>
    </ul>
    <p>Used to protect asyncronous reading between updateUpdateList() and getUpdateList()</p>


    <h2>Method Descriptions</h2>

    <ul class="simple" id="class-renderAPI-method-updateUpdateList">
    <li><p>void updateUpdateList()</p></li>
    </ul>
    <p>Called every frame by <span class="code">LLAppViewer::idle()</span>. Iterate through every object of the scene and test if it has been modified or killed this frame. If so, push it in the corresponding list. In test mode, also calls getUpdateList() if requiered by the external renderer</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-renderAPI-method-getUpdateList">
    <li><p>std::list&lt;ObjectToUpdate&gt; getUpdateList()</p></li>
    </ul>
    <p>Uses the lists filled in updateUpdateList() to create ObjectToUpdate instances, filled with every information useful for the external renderer to apply the update. Then clear the lists and return the list of ObjectToUpdate. If an object is present in 2 lists (eg if it has a texture and a position update), then the function will create two different ObjectToUpdate instances</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-renderAPI-method-convertListToText">
    <li><p>void convertListToText(std::list&lt;<a href="class_objectToUpdate.html" target="_blank">ObjectToUpdate</a>&gt; objectsToUpdate)</p></li>
    </ul>
    <p><strong>Used for test only ! </strong>Write the list of objects to update and their data into text files</p>
    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>
<script src="https://github.com/brandonaaron/jquery-cssHooks/blob/master/bgpos.js">
</script>
<style>
    body {
        font-family:'Courier New', Courier, monospace;
        
        background-image: url("avatar.png");

        background-repeat: no-repeat;

        /* background-position: right center; */
        
    }
</style>
<script>
    $(function() {
     var p = [0, 0], speed = 10, runMe = function () {
        var angle = Math.random() * 2 * Math.PI;
        var d = [
            speed * Math.cos(angle), 
            speed * Math.sin(angle)
        ];

        for (var i = 0; i < 2; i++)
           p[i] = (p[i] + d[i] > 100 || p[i] + d[i] < 0) ? p[i] - d[i] : p[i] + d[i];

        $('body').animate({
            backgroundPositionX: p[0] + '%',
            backgroundPositionY: p[1] + '%'
        }, 5000, 'linear', runMe);
     };
    
     runMe();
});
</script>