
<head>
    <link rel="stylesheet" type="text/css" href="doc.css" />
</head>

<body>
    
    <h1>apiCameraChanges</h1>

    <h3><a href="main.html">Return to homepage</a></h3>
    <h2>Description</h2>
    <p>This is the class storing and using the Camera information, meant to be used as a singleton (livecamchange)</p>

    <h2>Properties</h2>
    <table class="properties">
        <tbody>
            <tr class="row">
                <td><p class="type"><a  href="#class-apiCamChanges-LLVector3">LLVector3</a></p></td>
                <td><p class="name"><a  href="#class-apiCamChanges-X">X</a></p></td>
                <td><p class="init-value">empty</p></td>
            </tr>

            <tr class="row">
                <td><p class="type"><a  href="#class-apiCamChanges-typedef-LLVector3">LLVector3</a></p></td>
                <td><p class="name"><a  href="#class-apiCamChanges-Y">Y</a></p></td>
                <td><p class="init-value">empty</p></td>
            </tr>

            <tr class="row">
                <td><p><a class="type" href="#class-apiCamChanges-typedef-LLVector3">LLVector3</a></p></td>
                <td><p class="name"><a  href="#class-apiCamChanges-Z">Z</a></p></td>
                <td><p class="init-value">empty</p></td>
            </tr>

            <tr class="row">
                <td><p><a class="type" href="#class-apiCamChanges-typedef-LLVector3">LLVector3</a></p></td>
                <td><p class="name"><a  href="#class-apiCamChanges-Origin">Origin</a></p></td>
                <td><p class="init-value">empty</p></td>
            </tr>

        </tbody>
    </table>


    <h2>Methods</h2>
    <table class="Methods">
        <tbody>
            <tr class="row">
                <td><p class="Setters">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a  href="#class-apiCamChanges-Setters">SetX/SetY/SetZ/SetOrigin</a>()</p></td>
            </tr>

            <tr class="row">
                <td><p class="Getters">public</p></td>
                <td><p class="type">LLVector3</p></td>
                <td><p class="name"><a  href="#class-apiCamChanges-Getters">GetX/GetY/GetZ/GetOrigin</a>()</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-apiCamChanges-method-Updateall">Updateall</a>(LLVector3 Origintosend, LLVector3 vX, LLVector3 vY, LLVector3 vZ)</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-apiCamChanges-method-Printcam">Printcam</a>()</p></td>
            </tr>

        </tbody>
    </table>


    <h2>Property Descriptions</h2>

    <ul class="simple" id="class-apiCamChanges-X">
    <li><p><a class="reference internal" href="#class-apiCamChanges-typedef-vobj_set_t">LLVector3</a> <strong>	
        X</strong></p></li>
    </ul>
    <p>Contains the look at axis</p>
    
    <hr class="separator" />
    
    <ul class="simple" id="class-apiCamChanges-Y">
    <li><p><a class="reference internal" href="#class-apiCamChanges-typedef-vobj_set_t">LLVector3</a> <strong>	
        Y</strong></p></li>
    </ul>
    <p>Contains the left side axis</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-apiCamChanges-Z">
    <li><p><a class="reference internal" href="#class-apiCamChanges-typedef-vobj_set_t">LLVector3</a> <strong>	
        Z</strong></p></li>
    </ul>
    <p>Contains the up axis</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-apiCamChanges-Origin">
    <li><p><a class="reference internal" href="#class-apiCamChanges-typedef-vobj_set_t">LLVector3</a> <strong>	
        Origin</strong></p></li>
    </ul>
    <p>Contains the origin point</p>
    

    
    <h2>Method Descriptions</h2>

    <ul class="simple" id="class-apiCamChanges-Setters">
    <li><p>void SetX/SetY/SetZ/SetOrigin(LLVector3 X/Y/Z/Origin)</p></li>
    </ul>
    <p>Simple Setters, as of now only called in the Updateall method</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-apiCamChanges-Getters">
    <li><p>LLVector3 GetX/GetY/GetZ/GetOrigin()</p></li>
    </ul>
    <p>Simple Getters, as of now only called in the Printcam method</p>
    
    <hr class="separator" />

    <ul class="simple" id="class-apiCamChanges-method-Printcam">
    <li><p>Printcam()</p></li>
    </ul>
    <p><strong>Used for test only !</strong>Called by Updateall, writes the list of coordinates (Xx,Xy,Xz,Yx,Yy,Yz,Zx,Zy,Zz,Originx,Originy,Originz) into a text file in the packaged in the build</p>
  
    <hr class="separator" />
    
    <ul class="simple" id="class-apiCamChanges-method-Updateall">
    <li><p>Updateall(LLVector3 Origintosend, LLVector3 vX, LLVector3 vY, LLVector3 vZ)</p></li>
    </ul>
    <p>Called every frame by <span class="code">LLAppViewer::idle()</span>.Updates the livecamchange singleton. </p>
      
</body>