
<head>
    <link rel="stylesheet" type="text/css" href="doc.css" />
</head>

<body>
    
    <h1>ObjectToUpdate</h1>

    <h3><a href="main.html">Return to homepage</a></h3>
    <h2>Description</h2>
    <p>This class is used to move information about object updates from SceneGate to the external renderer. For every new update, renderAPI::getUpdateList() create a new ObjectToUpdate instance which is then sent to the external renderer</p>

    <h2>Properties</h2>
    <table class="properties">
        <tbody>
            <tr class="row">
                <td><p class="type">std::string</p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-name">name</a></p></td>
                <td><p class="init-value">null</p></td>
            </tr>

            <tr class="row">
                <td><p class="type">LLViewerObject *</a></p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-viewerObject">viewerObject</a></p></td>
                <td><p class="init-value">null</p></td>
            </tr>

            <tr class="row">
                <td><p class="type">std::vector&lt;float&gt;</a></p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-position">position</a></p></td>
                <td><p class="init-value">{0,0,0}</p></td>
            </tr>

            <tr class="row">
                <td><p class="type">std::vector&lt;float&gt;</a></p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-scale">scale</a></p></td>
                <td><p class="init-value">{0,0,0}</p></td>
            </tr>

            <tr class="row">
                <td><p class="type">std::vector&lt;float&gt;</a></p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-rotation">rotation</a></p></td>
                <td><p class="init-value">{0,0,0}</p></td>
            </tr>

            <tr class="row">
                <td><p class="type">float</a></p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-angle">angle</a></p></td>
                <td><p class="init-value">0</p></td>
            </tr>

            <tr class="row">
                <td><p class="type"><a  href="#class-objectToUpdate-enum-objType">ObjType</a></p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-objType">objType</a></p></td>
                <td><p class="init-value">null</p></td>
            </tr>

            <tr class="row">
                <td><p class="type"><a  href="#class-objectToUpdate-enum-updateType">UpdateType</a></p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-updateType">updateType</a></p></td>
                <td><p class="init-value">null</p></td>
            </tr>

            <tr class="row">
                <td><p class="type">int</p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-nbreFaces">nbreFaces</a></p></td>
                <td><p class="init-value">0</p></td>
            </tr>

            <tr class="row">
                <td><p class="type">std::vector&lt;Face&gt;</p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-faces">faces</a></p></td>
                <td><p class="init-value">null</p></td>
            </tr>

            <tr class="row">
                <td><p class="type">std::vector&lt;TextureFace&gt;</p></td>
                <td><p class="name"><a  href="#class-objectToUpdate-property-vobj_set_t">TexFaces</a></p></td>
                <td><p class="init-value">null</p></td>
            </tr>
        </tbody>
    </table>


    <h2>Methods</h2>
    <table class="Methods">
        <tbody>
            <tr class="row">
                <td><p class="accessibility">private</p></td>
                <td><p class="type">void</p></td>
                <td><p ><a href="#class-objectToUpdate-method-setGeometry">setGeometry</a>()</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">private</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-objectToUpdate-method-setTexture">setTexture</a>(LLPointer&lt;LLViewerObject&gt; viewerObject)</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-objectToUpdate-method-translate">translate</a>(std::vector&lt;float&gt; translation)</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-objectToUpdate-method-rotate">rotate</a>(LLQuaternion quat)</p></td>
            </tr>

            <tr class="row">
                <td><p class="accessibility">public</p></td>
                <td><p class="type">void</p></td>
                <td><p class="name"><a href="#class-objectToUpdate-method-convertToText">convertToText</a>()</p></td>
            </tr>
        </tbody>
    </table>

    <h2>Structures</h2>
    <div id="class-objectToUpdate-structure-Face">
        <h3>struct Face {</h3>
        <ul class="simple">
            <li><p><strong>std::vector&lt;float&gt; verticles</strong> --- X,Y,Z coord of every vertex. Must be therefore divisible by 3.</p></li>
            <li><p><strong>std::vector&lt;float&gt; normals</strong> --- 3D Vectors to represent the normals of every triangle. Must be therefore divisible by 3, and have the same size as "verticles".</p></li>
            <li><p><strong>std::vector&lt;float&gt; indices</strong> --- Indices of the verticles to link 3 by 3 to recreate a triangle. Must be therefore divisible by 3.</p></li>
        </ul>
        <h3>}</h3>
    </div>
     <hr class="separator" />
    <div id="class-objectToUpdate-structure-TextureFace">
        <h3>struct TextureFace {</h3>
        <ul class="simple">
            <li><p><strong>std::vector&lt;u_int8_t&gt;  data</strong> --- Data for every pixel of image, can be rgb, rgba, monochrome.</p></li>
            <li><p><strong>U16 width</strong> --- Width in pixels of the image.</p></li>
            <li><p><strong>U16 height</strong> --- Height in pixels of the image.</p></li>
            <li><p><strong>S32 component</strong> --- Number of data per pixel (3 for rgb, 4 for rbga, 1 for monochrome).</p></li>
            <li><p><strong>S32 dataSize</strong> --- Length of data array</p></li>
        </ul>
        <h3>}</h3>
    </div>

    <h2>Enums</h2>
    <div id="class-objectToUpdate-enum-objType">
        <h3>enum objType {</h3>
        <ul class="simple">
            <li><p><strong>FLEXIBLE = 0</strong> --- Flex objs are not automatically positionned and rotated. </p></li>
            <li><p><strong>ATTACHEMENT = 1</strong> --- Character attachments are not automatically positionned correctly. We haven't succeded in resolving this issue properly yet, so attachments are not rendered in current code.</p></li>
            <li><p><strong>OTHER = 2</strong> --- Every other kind of object working normally.</p></li>
            
        </ul>
        <h3>}ObjType</h3>
    </div>
     <hr class="separator" />
    <div id="class-objectToUpdate-enum-updateType">
        <h3>enum updateType {</h3>
        <ul class="simple">
            <li><p><strong>POSITION = 0</strong> --- If translated or rotated. Current code uses <strong>REBUILD</strong> instead.</p></li>
            <li><p><strong>GEOMETRY = 1</strong> --- If level of detail changed, or animated object. Current code uses <strong>REBUILD</strong> instead.</p></li>
            <li><p><strong>CREATION	= 2</strong> --- If new object. Current code uses <strong>REBUILD</strong> instead.</p></li>
            <li><p><strong>DESTRUCTION = 3</strong> --- If need to be removed from the scene</p></li>
            <li><p><strong>REBUILD = 4</strong> --- If the object needs to be fully reconstructed</p></li>
            <li><p><strong>TEXTURE = 5</strong> --- If material changed. current code uses <strong>REBUILD</strong> instead.</p></li>

        </ul>
        <h3>}UpdateType</h3>
    </div>
    
    <h2>Property Descriptions</h2>
    <ul class="simple" id="class-objectToUpdate-property-name">
    <li><p class="name">std::string</a> <strong>name</strong></p></li>
    </ul>
    <p>UUID of the object, taken from the SceneGate source code's UUID. Must be unique.</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-viewerObject">
        <li><p class="name">LLViewerObject *</a> <strong>viewerObject</strong></p></li>
    </ul>
    <p>Pointeur to the actual ViewerObject in the SG code</p>
        
     <hr class="separator" />
    
    <ul class="simple" id="class-objectToUpdate-property-position">
        <li><p class="name">std::vector&lt;float&gt;</a> <strong>position</strong></p></li>
    </ul>
    <p>X,Y and Z coord of the object inside its region</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-scale">
        <li><p class="name">std::vector&lt;float&gt;</a> <strong>scale</strong></p></li>
    </ul>
    <p>Global scale of the object. Never used so far.</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-rotation">
        <li><p class="name">std::vector&lt;float&gt;</a> <strong>rotation</strong></p></li>
    </ul>
    <p>Global rotation of the object. Never used so far.</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-angle">
        <li><p class="name">float</a> <strong>angle</strong></p></li>
    </ul>
    <p>Angle in radians used to correctly set up the rotation.</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-objType">
        <li><p class="name">ObjType</a> <strong>objType</strong></p></li>
    </ul>
    <p>Used to sort special objects that need a different treatment</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-updateType">
        <li><p class="name">UpdateType</a> <strong>updateType</strong></p></li>
    </ul>
    <p>The type of update, used by renderAPI when creating the objectToUpdate instance to know which kind of info to load inside it, and used in the external renderer to know how to change the object in its scene.</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-nbreFaces">
        <li><p class="name">int</a> <strong>nbreFaces</strong></p></li>
    </ul>
    <p>Just the number of faces, used for the geometry.</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-faces">
        <li><p class="name">std::vector&lt;Face&gt;</a> <strong>faces</strong></p></li>
    </ul>
    <p>The list of faces of the object, used to recreate its geometry.</p>
        
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-property-TexFaces">
        <li><p class="name">std::vector&lt;TextureFace&gt;</a> <strong>TexFaces</strong></p></li>
    </ul>
    <p>The list of face textures of the object, used to recreate its material. Currently not used.</p>
        
    <h2>Method Descriptions</h2>

    <ul class="simple" id="class-objectToUpdate-method-setGeometry">
    <li><p>void setGeometry()</p></li>
    </ul>
    <p>This function iterates through the LLFaces of the drawable of the viewerObject, and fills the verticles, normals and index raws with the data of the viewer buffers. Verticles already have the coordinates of their final position inside the region. The main advantage of this method is that it can be used for every kind of object, even the ones created inside the viewer like the trees. But for some unknown reason (probably somewhere inside the shaders, should investigate), some objects are not positionned : they are still around 0 0 : so far we encountered this problem with flexible objects and attachements. The intermediate solution could be to translate and rotate the meshes of this problematic objects vertex after vertex inside the API.</p>
    
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-method-viewerObject">
    <li><p>void setTexture(LLPointer&lt;LLViewerObject&gt; viewerObject)</p></li>
    </ul>
    <p>Uses the lists filled in updateUpdateList() to create ObjectToUpdate instances, filled with every information useful for the external renderer to apply the update. Then clear the lists and return the list of ObjectToUpdate. If an object is present in 2 lists (eg if it has a texture and a position update), then the function will create two different ObjectToUpdate instances</p>
    
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-method-translation">
    <li><p>void translate(std::vector&lt;float&gt; translation)</p></li>
    </ul>
    <p>Add the translation offset to every coordinate of every vertex of every face</p>
    
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-method-rotate">
    <li><p>void rotate(LLQuaternion quat)</p></li>
    </ul>
    <p><strong>Not perfectly working yet ! </strong>Should be used like translate to recalculate every verex coordinates, but doesn't take the scale into account &#x1F615;</p>
    
     <hr class="separator" />

    <ul class="simple" id="class-objectToUpdate-method-convertToText">
    <li><p>void convertToText()</p></li>
    </ul>
    <p><span class="test-only">Used for test only ! </span>Write all the usefull infos of the object into a text file</p>


</body>