
<head>
    <link rel="stylesheet" type="text/css" href="doc.css" />
</head>

<body>
    
    <h1>GodotWorld</h1>

    <h3><a href="main.html">Return to homepage</a></h3>
    <h2>Description</h2>
    <p>This singleton manages all the objects, camera, lightning etc... of the scene.</p>

    

</body>