
/* .reference.internal {
    margin-top: 10px;
	background-color: orange;
  }  */
 
  /* filter: blur(2px) grayscale(.5) opacity(0.8) hue-rotate(120deg); */
/* table {
    border-collapse: collapse;
  } */

/* tbody{
    border-style: solid;
    border-width: 5px;
    border-color: #611F61;
} */


h2{
	margin-top: 60px;
	margin-bottom: 16px;
}

a:link {
    color: inherit;
  }
  
  /* visited link */
  a:visited {
    color: inherit;
  }
  
  /* mouse over link */
  a:hover {
    color: #43f7df;
  }
  
  /* selected link */
  a:active {
    color: #0b8369;
  }

.methods, .properties
{
  background: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	left: max(10px,2%);
	width:min(60%);
}

/* .first-row-element {
	position: relative;
	left: 5%;
}
.second-row-element {
	position: relative;
	left: 20%;
}
.third-row-element {
	position: relative;
	left: 40%;
} */

.methods span, .methods a, .properties span, .properties a {
	display: inline-block;
	white-space:nowrap;
}

.properties div, .methods div {
	position: relative;
	height: 20px;
}

/* .properties .accessibility {
	left: 5%;
}
.properties .type {
	left: 50%;
}
.properties .name {
	left: 50%;
} */

/* .methods span {
	width: max(30%, 80px);
	overflow:hidden;
	display: inline-block;
	white-space:nowrap;
	text-overflow: ellipsis;
} */
.type{
	color: #1924c9
}

.accessibility{
	color: #b3494e
}

.init-value{
	color: #37393a
}

.code{
	color: #095c22;
	font-weight: bold;

}

.test-only{
	color: #8d0a0a;
	font-weight: bold;
}

.path{
	color: #81044d;
	font-weight: bold;
}


body {
    font-family:'Courier New', Courier, monospace;
}

/* arrows - :before and :after */
/* .tip:before {
	position: absolute;
	display: inline-block;
	border-top: 7px solid transparent;
	border-right: 7px solid #eee;
	border-bottom: 7px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.2);
	left: -14px;
	top: 20px;
	content: '';
}

.tip:after {
	position: absolute;
	display: inline-block;
	border-top: 6px solid transparent;
	border-right: 6px solid #eee;
	border-bottom: 6px solid transparent;
	left: -12px;
	top: 21px;
	content: '';
} */