a:link {
    color: #0a95ad;
}
  
/* visited link */
a:visited {
    color: #11444d;
}

/* mouse over link */
a:hover {
    color: #43f7df;
}

/* selected link */
a:active {
    color: #0b8369;
}

#title {
    color: blueviolet;
    text-align: center;
}

#doc_intro {
    margin-left:10rem;
    max-width:70rem;
}

.properties {
	background: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	width: 95%;
}

.links {
    background: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
    width:fit-content;
}

.row td {
    margin-top: 10px;
  } 

.classname {
    margin-right:150px;
}

iframe {
    width:100%;
    height:1000px;
}

.container1 {
    display:flex;
}

.container2 {
    width:30rem;
}

.container3 {
    width:40rem;
    text-align: center;
    max-height: 19rem;
}

.img {
    max-width:100%;
    max-height:100%;
}

body {
    font-family:'Courier New', Courier, monospace;
}